<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body>
    <div class="header">
      <div class="logo_mu">
        <a href=""><img
            src="img/logo-manchester-united-4.png"
            class="logo"
            alt="logoMu"
          /></a>
      </div>
      <ul class="nav-content">
        <li class="nav_item">
          <a data-hover="" href="/" class="nav-link">TRANG CHỦ</a>
        </li>
        <li class="nav_item">
          <a data-hover="" href="gioithieu.html" class="nav-link">GIỚI THIỆU</a>
        </li>
        <li class="nav_item">
          <a data-hover="" href="thidau.html" class="nav-link">THI ĐẤU</a>
        </li>
        <li class="nav_item">
          <a data-hover="" href="sanpham.html" class="nav-link">SẢN PHẨM</a>
        </li>
        <li class="nav_item">
          <a data-hover="" href="/player" class="nav-link">ĐỘI HÌNH</a>
        </li>
        <li class="nav_item js_login_item">
          <a data-hover="" href="/account" class="nav-link login_btn">ĐĂNG NHẬP</a>
        </li>

        <li class="nav_item hidden js_username_item">
          <i class="fa-solid fa-user"></i>
          <p id="username"></p>
          <div class="sub-user">
            <ul>
              <li><a id="logout" href="/account/logout">Đăng xuất</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>